/* Conteneur Flex pour les promotions */
.promoList {
    display: flex;

    flex-wrap: nowrap; /* Empêche le retour à la ligne */
    overflow-x: hidden;
    overflow-y: hidden; /* Désactive le défilement vertical */
}

.promoList_acdu {
    display: flex;
    flex-wrap: nowrap; /* Empêche le retour à la ligne */
    overflow-x: auto; /* Permet un défilement horizontal si nécessaire */
    margin-left: 10px;
    margin-right: 10px;
}

/* Style des cartes de promotion */
.promo {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 1rem;
    flex-basis: 30%; /* Force la carte à prendre 30% de la largeur */
    transition: transform 0.3s ease;
}

.promo:hover {
    transform: scale(1.05); /* Effet de zoom au survol */
}

/* Ajout d'un dégradé noir en haut de l'image */
.promo__wrapper__media {
    position: relative;
    overflow: hidden; /* Cache le débordement pour le dégradé */
}

.promo__wrapper__media::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 30%, transparent); /* Dégradé noir */
    z-index: 1; /* Mettre le dégradé derrière le titre */
}

/* Positionnement du titre sur l'image */
.UbiPromoTittle, .promo__title {
    font-family: 'Ubisoft Sans Bold';
    position: absolute;
    top: 20px; /* Titre en haut de l'image */
    left: 20px;
    color: whitesmoke;
    font-size: 1.25rem;
    font-weight: bold;
    z-index: 2; /* Mettre le titre au-dessus du dégradé */
    padding: 0.5rem;
    border-radius: 4px;
    width: calc(100% - 40px); /* Pour que le titre s'adapte à la largeur */
}
/* promo acdu */
.promo_acdu {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 1rem;
    flex-basis: 30%; /* Force la carte à prendre 30% de la largeur */
    transition: transform 0.3s ease;
    width: 100%;
}
/* Conteneur pour les images ACdu */
.promo__wrapper__media_acdu {
    position: relative;
    overflow: hidden; /* Empêche le débordement */
    width: 100%; /* Prend toute la largeur de son conteneur parent */
    max-width: 100%; /* Limite à 100% de la largeur de l'écran */
    padding: 4px; /* Espace intérieur autour des images */
    box-sizing: border-box; /* Inclut le padding dans le calcul de la largeur totale */
}
/* titre au coeur d'ubisoft */
.promo__title_inside {
    font-family: 'Ubisoft Sans Bold';
    position: absolute;
    bottom: 20px; /* Titre en haut de l'image */
    left: 20px;
    color: whitesmoke;
    font-size: 1.25rem;
    font-weight: bold;
    z-index: 2; /* Mettre le titre au-dessus du dégradé */
    padding: 30px;
    border-radius: 4px;
    width: calc(100% - 40px); /* Pour que le titre s'adapte à la largeur */
    background: rgba(0, 0, 0, 0.5); /* Fond noir avec opacité */
    text-align: top;
}
/* Style pour les images dans chaque promo ACdu */
.imgUbiStore_acdu {
    width: 100%; /* Remplir toute la largeur du conteneur */
    height: 100%; /* Remplir toute la hauteur du conteneur */
    border-radius: 8px;
    object-fit: cover; /* Maintenir le ratio d'aspect et couvrir l'espace */
}

/* Style pour l'image dans chaque promo */
.imgUbiStore {
    width: 100%; /* Utiliser 100% de la largeur du conteneur */
    height: 300px; /* Définir une hauteur fixe pour uniformiser les cartes */
    border-radius: 8px;
    object-fit: cover; /* Couvrir l'espace tout en gardant l'aspect ratio */
}

/* Liens sans soulignement */
a {
    font-family: 'Ubisoft Sans Bold';
    text-decoration: none;
    color: inherit;
}

a:hover .promo__title, a:hover .UbiPromoTittle {
    text-decoration: underline;
    font-family: 'Ubisoft Sans Bold';
}

/* Fans Ubisoft */
.wrapperFan {
    background: linear-gradient(to bottom, #ededed, #ffffff); /* Gradient background */
    display: flex;
    flex-direction: row;
    height: auto; /* Pour que l'ensemble prenne la hauteur de la fenêtre */
    align-items: center; /* Centrer verticalement */
    justify-content: space-between; /* Espacer les deux divs */
    padding: 0 2rem; /* Ajoute un padding pour éviter que le contenu touche les bords */
}

.left {
    display: flex;
    flex-direction: column; /* Organise les éléments en colonne */
    justify-content: center; /* Centre verticalement dans la div */
    max-width: 50%;
    margin-right: 30px;
}

.leftTitle {
    font-family: 'Ubisoft Sans Bold';
    font-weight: bold;
    font-size: 40px; /* Taille du titre */
    text-align: center; /* Centrer le texte */
    margin-bottom: 1.5rem; /* Espacement sous le titre */
    text-align: left;
    padding-left: 15px;
    padding-right: 25px;
    margin-right: 35px;
}
.boutonGauche {
    float: left;
}

.ddd {
    margin-top: 1rem; /* Espacement entre le bouton et le titre */
    margin-top: 0%;
    padding-top: 0%;
    align-items: left
    ;
}

.right {
    max-width: 50%;
    display: flex;
    justify-content: center; /* Centre l'image horizontalement dans la div */
    align-items: center; /* Centre l'image verticalement dans la div */
}

.imgRight {
    max-width: 100%;
    height: auto; /* Assure que l'image conserve ses proportions */
    margin-top: 75px;
    margin-right: 50px;
    padding-top: 75 px;
    padding-bottom: 75px;
}
